[submodule "vendor/addyosmani/jquery-coverflow-ii"]
	path = vendor/addyosmani/jquery-coverflow-ii
	url = https://github.com/addyosmani/jqueryui-coverflow-ii.git
[submodule "vendor/h5bp/html5-boilerplate"]
	path = vendor/h5bp/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "vendor/jquery/jquery-ui"]
	path = vendor/jquery/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "vendor/jcoglan/sylvester"]
	path = vendor/jcoglan/sylvester
	url = https://github.com/jcoglan/sylvester.git
[submodule "vendor/pbakaus/transformie"]
	path = vendor/pbakaus/transformie
	url = https://github.com/pbakaus/transformie.git
